<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
    <style>
        .box1{
            box-shadow: 1px 4px 4px #333;
            margin:40px 0 0 80px;
            height: 300px;
            width: 250px;
            border:1px solid pink;
            transition-duration: 300ms;
        }
        .box1:hover{
            margin-top:-10px;
            transition-duration: 300ms;
        }
        p{
            padding-top: 150px;
        }
    </style>
</head>
<body>
    <h2 th:text="${title}">Detail</h2>
    <div th:each="item:${discussList}">
        <div class="box1">
            <h2 th:text="${item.getAuthor()}"></h2>
            <p th:text="${item.getContent()}"></p>

        </div>
    </div>
</body>
</html>