<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--配置一个Bean 不会被外部随便创建，实现了解耦-->
    <bean id="userDao" class="top.lxyi.spring.ioc.UserDaoImpl"/>
</beans>